[submodule "util-co/vimpager"]
	path = util-co/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "util-co/youtube-dl"]
	path = util-co/youtube-dl
	url = https://github.com/rg3/youtube-dl.git
[submodule "vim"]
	path = vim
	url = git@github.com:gvalkov/dotfiles-vim.git
[submodule "bin"]
	path = bin
	url = git@github.com:gvalkov/dotfiles-bin.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:gvalkov/dotfiles-emacs.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:gvalkov/dotfiles-awesome.git
