[submodule "vim"]
	path = vim
	url = git@github.com:gvalkov/dotfiles-vim.git
[submodule "emacs"]
	path = emacs
	url = git@github.com:gvalkov/dotfiles-emacs.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:gvalkov/dotfiles-awesome.git
