[Unit]
Description=Dropbox as a systemd service
Before=progs.target

[Service]
ExecStart=/home/gv/.dropbox-dist/dropbox
ExecReload=/bin/kill -HUP $MAINPID
Environment=DISPLAY=:0

[Install]
WantedBy=progs.target

