[Unit]
Description=emacs
Before=progs.target
After=emacsd.service

[Service]
ExecStart=/usr/bin/emacsclient -c -e '(progn (find-file "/home/gv/private/org/notes.org") (set-frame-name "org-mode-frame"))'
Restart=no

[Install]
WantedBy=progs.target
